* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    letter-spacing: 1.15px;
    font-size: 2rem;
    background-color: rgb(71, 67, 116);
    padding: 15px;
    color: rgb(255, 255, 255);
}