/* Font face declarations */
@font-face {
    font-family: "Lato-Black";
    src: url("../fonts/Lato/Lato-Black.ttf") format("truetype");
}

@font-face {
    font-family: "Lato-Thin";
    src: url("../fonts/Lato/Lato-Thin.ttf") format("truetype");
}

/* Univeral styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 4fr 1fr;
    height: 1100px;
    background-color: #ffffff;
}

/* Header styling */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #603f97;
    width: 100%;
}

header h1 {
    letter-spacing: 1.25px;
    font-size: 2.55rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-family: Lato-Black;
}

/* Message styling */

.message-generator-section {
    display: grid;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
}

.message-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.message {
    font-size: 1.75rem;
    font-family: Lato-Thin, monospace;
}

/* Button styling */

.button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 20px;
}

#generate-btn {
    padding: 20px 80px;
    background-color: #3FBEB6;
    border: none;
    color: white;
    letter-spacing: 2px;
    font-size: 1.25rem;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-family: Lato-Black;
}

#generate-btn:hover {
    background-color: rgb(221, 130, 217);
}

/* Footer styling */
footer {
    background-color: #111317;
}